<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="${basedir}\Logs\internal-nlog.log">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Targets.PostgreSQL"/>
  </extensions>
  <targets async="true">

    <target name="db"
            xsi:type="Database"
            connectionString="User ID=postgres;Password=a@12345;Host=localhost;Port=5432;Database=YarYab;Connection Lifetime=30;"
            dbProvider="Npgsql.NpgsqlConnection, Npgsql"
            commandType="Text"
            commandText="INSERT INTO &quot;NLogs&quot; (&quot;Application&quot;, &quot;Level&quot;, &quot;Message&quot;, &quot;Logger&quot;, &quot;Callsite&quot;, &quot;Exception&quot;, &quot;Logged&quot;) VALUES (@Application, @Level, @Message, @Logger, @Callsite, @Exception, @Logged);">
      <parameter name="@Application" layout="${machinename}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Callsite" layout="${callsite}" />
      <parameter name="@Exception" layout="${exception:tostring}" />
      <parameter name="@Logged" layout="${date:universalTime=true:format=o}" />
    </target>
    <target name="file" xsi:type="File" fileName="D:\Code\YarYab\logfile.log"
           layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}" />

  </targets>
  <rules>
    <logger name="Microsoft.*" maxlevel="Error" final="true" />
    <logger name="*" minlevel="info" writeTo="db" />
    <logger name="*" minlevel="info" writeTo="file" />
  </rules>
</nlog>